/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../assets/fonts/raleway-v19-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/raleway-v19-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/raleway-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --nav-color: #1b242f;
  --highlight-color: #ffaa11;
  --button-color: #01a2ff;
  --button-dark-color: #0279c9;
  --section-bg-color: white;
  --section-bg-alt-color: #f3f3f3;
  --contact-placeholder-color: #d0d0d0;
  --success-color: #04c986;
  --failure-color: #ff0000;

  --nav-height: 50px;
  --section-padding: 70px;

  scroll-behavior: smooth;
}
html, body {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  background-color: var(--nav-color);
  color: white;
  font-family: 'Raleway';
  font-size: clamp(0.65rem, 2.6vw, 1rem);
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
.page-link {
  cursor: pointer;
}
.button {
  border: 2px solid white;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: clamp(0.8rem, 1.6vw, 1rem);
  padding: 0.4em 1.2em;
  transition: all 0.5s;
  background: transparent;
  color: white;
}
:is(.button-loading, .button-failure) .button-text {
  visibility: hidden;
  opacity: 0;
}
.button-loading::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
/* Hide button on any form submit to
 * help prevent spam (and while I figure out
 * what to do with the button during an error)
 */
.button-success, .button-failure {
  visibility: hidden;
  opacity: 0;
}

@keyframes button-loading-spinner {
  from { transform: rotate(0turn); }
  to   { transform: rotate(1turn); }
}

.bold {
  font-weight: 700;
}
.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}
.highlight {
  color: var(--button-color);
  font-weight: 600;
}
.header {
  color: #444649;
  font-weight: 700;
  font-size: clamp(1.7rem, 4vw, 2.5rem);
  position: relative;
}
.header-bar {
  font-size: clamp(1.7rem, 4vw, 2.5rem);
  background: #444649;
  height: 4px;
  margin: .5em 0 1em 0;
  width: 5.5ch;
}
.label {
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em 0 .75em 0;
}

/* ========= NAV ========= */
nav {
  left: 0;
  position: absolute;
  background: var(--nav-color);
  border-bottom: 3px solid var(--button-color);
  height: var(--nav-height);
  text-align: center;
  width: 100%;
  z-index: 2;
  display: flex;
  overflow: scroll;
}
.sticky {
  position: fixed;
  top: 0;
}
nav .link-wrap {
  background: none;
  height: initial;
  position: initial;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: initial;
}
nav ul {
  list-style: none;
}
nav a {
  display: inline;
  font-size: initial;
  margin: 0 20px;
}
nav .active {
  color: var(--highlight-color);
}

/* ======== ALL SECTIONS ======== */
section {
  color: #616161;
  padding: var(--section-padding) 0;
  position: relative;
  background: var(--section-bg-color);
}
section:nth-of-type(2n+3) {
  background: var(--section-bg-alt-color);
}
section .container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  width: 90%;
}
.two-col-desktop {
  display: block;
}

/* ======== HOME ======== */
#home {
  color: white;
  /* Sticky nav func in js needs to
   check scrollY > additional px */
  height: calc(100% + var(--nav-height)/2); 
  min-height: calc(100% + + var(--nav-height)/2);
  background: var(--nav-color);
}

#home .text {
  line-height: 1.6em;
  margin: 0 0 20px 0;
  pointer-events: none;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
}
#home .highlight {
  color: var(--highlight-color);
}

/* ======== ABOUT ======== */
#about {
  padding-top: calc(var(--section-padding) + var(--nav-height));
}
.columns-desktop {
  align-items: center;
  width: 100%;
}
.columns-desktop > * + * {
  margin-top: 4em;
}
.slideshow-wrapper {
  width: 100%;
  position: relative;
}
.slide{
  display: none;
  justify-content: center;
}
.slide:first-of-type {
  display:flex;
}
.slide img{
  max-width: 100%;
  max-height: 100vh;
}
/* Caption text */
.slide .text{
  width:60%;
  color: #f2f2f2;
  font-size: inherit;
  position: absolute;
  bottom: 1em;
}
/* Next & previous buttons */
.slideshow-wrapper .prev {
  left: 0;
}
.slideshow-wrapper .next {
  right: 0;
}
.slideshow-wrapper button {
  cursor: pointer;
  position: absolute;
  top: 0;
  height:100%;
  width: 20%;
  padding: 16px;
  color: transparent;
  font-weight: 700;
  font-size: 18px;
  transition: 0.8s ease;
  border: none;
  user-select: none;
  background: transparent; 
}
.slideshow-wrapper :is(button:active, button:focus) {
  outline: none;
}
/* The dots/bullets/indicators */
.dot-wrapper {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--section-bg-alt-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot.active {
  background-color: #717171;
}
.bars-wrapper {
  width: 100%;
}
.bar {
  justify-content: flex-start;
  align-items: center;
  background-color: var(--section-bg-alt-color);
  color: #666666;
  font-size: clamp(0.7em, 2.2vw, 0.9em);
  height: clamp(24px, 5vw, 40px);
  flex-direction: row;
  flex-grow: 1;
}
.bar + .bar {
  margin-top: clamp(12px, 2vw, 18px);
}
.bar .bar-percent {
  padding: 0 1em;
  margin-left: auto;
  z-index: 1;
}
.bar .fill {
  background-color: var(--button-dark-color);
  opacity: 1;
  padding: 0;
  height: 100%;
}
.bar .tag {
  background-color: var(--button-color);
  color: white;
  height: 100%;
  width: 12ch;
}

/* ======== PORTFOLIO ======== */
#portfolio .header-bar {
  width: 7.5ch;
}
#portfolio ol {
  list-style-type: none;
  padding: 0;
}
.filter-wrap {
  position: relative;
  white-space: nowrap;
}
.filter {
  cursor: pointer;
  font-weight: 600;
  padding: 0 1.4em;
}
.float-bar .row {
  bottom: 0;
  left: -30px;
  top: 0;
  position: absolute;
  margin: auto 0;
}
.float-bar .row .filter {
  color: white;
}

/* ======== CONTACT ======== */
 #contact {
  background-color: #252934;
  color: white;
}
 #contact .header {
  color: white;
}
 #contact .header-bar {
  background: white;
  width: 7.5ch;
}
 #contact form {
  margin: 40px auto 0 auto;
  min-width: min(500px, 95%);
}
#contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--contact-placeholder-color);
  opacity: 1; /* Firefox */
}
#contact :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--contact-placeholder-color);
}
#contact ::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--contact-placeholder-color);
}
input[type=text],
input[type=email],
textarea {
  background: #1e242c;
  border: 0;
  color: white;
  display: block;
  font-size: 1rem;
  margin-bottom: .3em;
  outline: none;
  padding: .7em 1em;
  width: 100%;
}
textarea {
  min-height: 15ch;
  resize: none;
}
 #contact .button {
  float: right;
  font-size: 1rem;
  outline: 0;
  padding: 0.6em 2em;
  position: relative;
}
 #contact-success, #contact-failure {
  max-height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: all 0.5s;
}
 :is(#contact-success, #contact-failure).expand {
  max-height: 4rem;
  height: auto;
}
 :is(#contact-success, #contact-failure) div {
  color: white;
  font-weight: 600;
  padding: .3em 0;
}
#contact-success div {
  background: var(--success-color);
}
#contact-failure div {
  background: var(--failure-color);
}

/* ======== FOOTER ======== */
footer {
  min-height: var(--section-padding);
}

/* ======== Prevent hover effects on mobile ======== */
@media (hover: hover) and (pointer: fine){
  .slideshow-wrapper button:hover {
    background-color: rgba(0,0,0,0.6);
    color: white;
  }
  nav a:hover {
    color: var(--highlight-color);
  }
  .button:hover {
    background-color: var(--button-color);
    border-color: var(--button-color);
  }
  .dot:hover {
    background-color: #717171;
  }
}
/* ======== Desktop-ish sized screens ======== */
@media screen and (min-width: 800px) {
  .columns-desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .columns-desktop > * + * {
    margin-top: 0;
  }
  .two-col-desktop {
    -webkit-flex: 1 1 46%;
    -ms-flex: 1 1 46%;
    flex: 1 1 46%;
    max-height: 100%;
    max-width: 46%;
  }
}