/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../assets/fonts/raleway-v19-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/raleway-v19-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../assets/fonts/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/raleway-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --nav-color: #1b242f;
  --highlight-color: #ffaa11;
  --button-color: #01a2ff;
  --button-dark-color: #0279c9;
  --section-bg-color: white;
  --section-bg-alt-color: #f3f3f3;
  --contact-placeholder-color: #d0d0d0;
  --success-color: #04c986;
  --failure-color: #ff0000;

  scroll-behavior: smooth;
}
html, body {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  background-color: var(--nav-color);
  color: white;
  font-family: "Raleway";
  font-size: 8pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  overflow-x: hidden;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
.page-link {
  cursor: pointer;
}
.button {
  border: 2px solid white;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
  background: transparent;
  color: white;
}
:is(.button-loading, .button-failure) .button-text {
  visibility: hidden;
  opacity: 0;
}
.button-loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
/* Hide button on any form submit to
 * help prevent spam (and while I figure out
 * what to do with the button during an error)
 */
.button-success, .button-failure {
  visibility: hidden;
  opacity: 0;
}

@keyframes button-loading-spinner {
  from { transform: rotate(0turn); }
  to   { transform: rotate(1turn); }
}

.bold {
  font-weight: 700;
}
.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}
.highlight {
  color: var(--highlight-color);
  font-weight: 600;
}
.header {
  color: #444649;
  font-weight: 700;
  font-size: 25pt;
  position: relative;
  position: relative;
}
.header-bar {
  background: #444649;
  height: 4px;
  margin: 25px 0 40px 0;
  width: 70px;
}
.label {
  font-size: 14pt;
  font-weight: 500;
}

/* ========= NAV ========= */
nav {
  left: 0;
  position: absolute;
  background: var(--nav-color);
  border-bottom: 3px solid var(--button-color);
  height: 50px;
  text-align: center;
  width: 100%;
  z-index: 99;
  display: flex;
  overflow: scroll;
}
.sticky {
  position: fixed;
  top: 0;
}
nav .link-wrap {
  background: none;
  height: initial;
  position: initial;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: initial;
}
nav ul {
  list-style: none;
}
nav a {
  display: inline;
  font-size: initial;
  margin: 0 20px;
}
nav .active {
  color: var(--highlight-color);
}

/* ======== ALL SECTIONS ======== */
section {
  color: #616161;
  line-height: 11pt;
  padding: 70px 0 70px 0;
  position: relative;
}
section .container {
  /* box-sizing: border-box; */
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}
section:nth-of-type(2n+2) {
  background: var(--section-bg-color);
}
section:nth-of-type(2n+3) {
  background: var(--section-bg-alt-color);
}
section .flex-50-gt-sm {
  display: block;
}

/* ======== HOME ======== */
#home {
  color: white;
  height: 100%;
  min-height:100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  padding: 0 10px;
  background: var(--nav-color);
}

#home .text {
  font-size: 16pt;
  line-height: 20pt;
  margin: 0 0 20px 0;
  pointer-events: none;
  z-index: 1;
}
#home .button {
  padding: 12px 15px 12px 15px;
}

/* ======== ABOUT ======== */
#about .highlight {
  color: var(--button-color);
}
#about .about-columns {
  align-items: flex-start;
  width: 100%;
}
#about .about-columns .label {
  margin: 20px 0 15px 0;
}
#about .slideshow-wrapper {
  width: 100%;
  position: relative;
}
#about .slideshow-wrapper .slide{
  display: none;
  justify-content: center;
}
#about .slideshow-wrapper .slide:first-of-type {
  display:flex;
}
#about .slideshow-wrapper .slide img{
  width:100%;
}
/* Caption text */
#about .slideshow-wrapper .slide .text{
  width:60%;
  color: #f2f2f2;
  font-size: inherit;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
}
/* Next & previous buttons */
#about .slideshow-wrapper .prev {
  left: 0;
}
#about .slideshow-wrapper .next {
  right: 0;
}
#about .slideshow-wrapper button {
  cursor: pointer;
  position: absolute;
  top: 0;
  height:100%;
  width: 20%;
  padding: 16px;
  color: transparent;
  font-weight: 700;
  font-size: 18px;
  transition: 0.8s ease;
  border: none;
  user-select: none;
  background: transparent; 
}
#about .slideshow-wrapper :is(button:active, button:focus) {
  outline: none;
}
/* The dots/bullets/indicators */
#about .dot-wrapper {
  text-align: center;
}
#about .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--section-bg-alt-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#about .dot-wrapper .active {
  background-color: #717171;
}
#about .bars-wrapper {
  margin: 40px auto 0 auto;
  max-width: 90%;
  width: calc(100% - 15px);
}
#about .bar {
  justify-content: flex-start;
  align-items: center;
  background-color: var(--section-bg-alt-color);
  color: #666666;
  font-size: 7pt;
  height: 22px;
  margin: 0 auto 12px;
  flex-direction: row;
  flex-grow: 1;
}
#about .bar .bar-percent {
  padding: 0 1em;
  margin-left: auto;
  z-index: 100;
}
#about .bar .fill {
  background-color: var(--button-dark-color);
  opacity: 1;
  padding: 0;
  height: 100%;
}
#about .bar .tag {
  background-color: var(--button-color);
  color: white;
  height: 100%;
  width: 70px;
}

/* ======== PORTFOLIO ======== */
#portfolio ol li {
  list-style-type: none;
}
#portfolio .container {
  padding: 0;
}
#portfolio .filter-wrap {
  position: relative;
  white-space: nowrap;
}
#portfolio .filter {
  cursor: pointer;
  font-size: 6pt;
  font-weight: 600;
  padding: 0 20px;
}
#portfolio .float-bar {
  bottom: 0;
  left: 30px;
  top: 0;
  position: absolute;
  background: var(--highlight-color);
  border-radius: 1px;
  height: 25px;
  margin: auto 0;
  overflow: hidden;
}
#portfolio .float-bar .row {
  bottom: 0;
  left: -30px;
  top: 0;
  position: absolute;
  margin: auto 0;
}
#portfolio .float-bar .row .filter {
  color: white;
}
#portfolio #gallery {
  margin: 20px 0;
}

/* ======== CONTACT ======== */
 #contact {
  background-color: #252934;
  color: white;
  padding-top: 175px;
}
 #contact .header {
  color: white;
}
 #contact .header-bar {
  background: white;
  width: 110px;
}
 #contact .highlight {
  color: var(--button-color);
  font-weight: 600;
}
 #contact form {
  margin: 40px auto 0 auto;
  min-width: 95%;
}
#contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--contact-placeholder-color);
  opacity: 1; /* Firefox */
}
#contact :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--contact-placeholder-color);
}
#contact ::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--contact-placeholder-color);
}
 #contact input[type=text],
 #contact input[type=email],
 #contact textarea {
  background: #1e242c;
  border: 0;
  color: white;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
#contact textarea {
  margin-bottom: 5px;
  min-height: 150px;
}
 #contact .button {
  float: right;
  font-size: 12pt;
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 30px;
  position: relative;
}
 #contact-success, #contact-failure {
  max-height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: all 0.5s;
}
 :is(#contact-success, #contact-failure).expand {
  max-height: 4rem;
  height: auto;
}
 :is(#contact-success, #contact-failure) div {
  color: white;
  font-weight: 600;
  padding: 5px 0;
}
#contact-success div {
  background: var(--success-color);
}
#contact-failure div {
  background: var(--failure-color);
}

@media (hover: hover) and (pointer: fine){
  #about .slideshow-wrapper button:hover {
    background-color: rgba(0,0,0,0.6);
    color: white;
  }
  nav a:hover {
    color: var(--highlight-color);
  }
  .button:hover {
    background-color: var(--button-color);
    border-color: var(--button-color);
  }
  #about .dot-wrapper .dot:hover {
    background-color: #717171;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 12pt;
  }
  .container {
    padding: 0 20px;
  }
  .header {
    font-size: 30pt;
  }
  .label {
    font-size: 18pt;
  }
  section {
    line-height: 18pt;
    padding: 100px 0 130px 0;
  }
  section .container {
    padding: 0 10px;
  }

  /* ========= HOME ========= */
  #home .text {
    font-size: 32pt;
    line-height: 36pt;
  }

  /* ========= ABOUT ========= */
  #about .about-columns > .flex:first-child {
    margin: 0 50px;
  }
  #about .bar {
    font-size: 11pt;
    height: 28px;
    margin: 0 0 15px 0;
  }
  #about .bar .tag {
    width: 110px;
  }

  /* ========= PORTFOLIO ========= */
  #portfolio .filter {
    font-size: 11pt;
    margin: 0 15px;
    padding: 0 30px;
  }
  #portfolio .float-bar {
    height: 30px;
  }

  /* ========= CONTACT ========= */
  #contact {
    padding: 130px 0 180px 0;
  }
  #contact .text {
    font-size: 11pt;
    line-height: 15pt;
  }
   #contact form {
    min-width: 500px;
  }
}

@media screen and (min-width: 960px) {
  .button {
    font-size: 16pt;
  }
  .flex .row-gt-sm {
    flex-direction: row;
  }
  .flex-50-gt-sm {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-height: 100%;
    max-width: 50%;
  }

/* ========= ABOUT ========= */
  #about .bars-wrapper {
    margin: 0;
  }
  #about .bar {
    height: 40px;
    max-width: 90%;
  }
  #about .about-columns {
    margin: 18px 0 0 0;
  }

  /* ========= PORTFOLIO ========= */
  #portfolio .filter {
    font-size: 13pt;
    margin: 0 25px;
    padding: 0 40px;
  }
}
